.opinion-card {
  margin-bottom: 30px;
  width: 62.5%;
  margin-left: 250px;
  padding-bottom: 20px;
}

.card-content {
  margin-bottom: 40px;
}

.header {
  border: 2px solid var(--primary-color);
  background: linear-gradient(to right, #e6dfe0, var(--primary-color));;
}

.description {
  border: 2px solid var(--primary-color);
}
