
  <form #form [formGroup]="reservationFormBuilder" (ngSubmit)="onSubmit()">
    <div class="reservation-dialog">
      <div class="calendar">
        <p-calendar id="bookDate" name="bookDate" placeholder="{{'global.reservation.chooseDate' | translate}}"
        [(ngModel)]="reservationDate" formControlName="date"
        [minDate]="currentDate" dateFormat="dd.mm.yy" [disabledDates]="tempDates" [inline]="true"
        (onSelect)="onDateSelect(); findAvailableTerms()"
        appendTo="body"></p-calendar>
      </div>
      <div class="right-side">
        <div class="workers">
          <p-dropdown id="bookWorkers" name="bookWorkers"
            [options]="availableWorkers" optionLabel="employeeName" formControlName="employee"
            [(ngModel)]="selectedEmployee"
            placeholder="{{'global.reservation.chooseWorker' | translate}}"
            appendTo="body">
          </p-dropdown>
        </div>
        <div *ngIf="selectedEmployee" class="terms" formControlName="term">
          <app-card (term)="setTerm($event)" [availableTermsTemplate]="true" [availableTerms]="selectedEmployee?.terms!">
          </app-card>
          <input type="text" formControlName="term" [(ngModel)]="seledtedTerm" [hidden]="true">
        </div>
        <div class="remarks">
          <textarea rows="5" cols="30" pInputTextarea placeholder="Dodatkowe uwagi" formControlName="description"></textarea>
        </div>
        <p-button label="{{'global.action.book' | translate}}" type="submit" [disabled]="reservationFormBuilder.invalid === true"></p-button>
      </div>
    </div>
  </form>

