.reservation-dialog {
  display: grid;
  grid-template-columns: auto auto;
}

.right-side {
  display: grid;
}

.confirm-info {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  label {
    padding: 10px;
  }
}

.button-container {
  margin-top: 20px;
}

:host ::ng-deep .p-button {
  margin: 20px
}
