<div class="contact-page">
  <div class="wrapper">
    <label name="header1">{{ 'global.faq.header1' | translate }}</label>
    <label name="header2">{{ 'global.faq.header2' | translate }}</label>

    <div style="display: flex; justify-content: center;">
      <div class="rounded"></div>
    </div>

    <form #contactForm (onSubmit)="onSubmit()" [formGroup]="helpForm">
      <div class="contact-input">
        <input type="text" pInputText formControlName="name" placeholder="{{'global.user.name' | translate}}"/>
        <input type="text" pInputText formControlName="surname" placeholder="{{'global.user.surname' | translate}}"/>
        <input type="text" pInputText formControlName="email" placeholder="{{'global.user.email' | translate}}"/>
        <textarea pInputTextarea style="height: 150px; margin-bottom: 20px;"></textarea>

        <p-button type="submit" styleClass="button-width" label="{{'global.action.send' | translate}}" ></p-button>
      </div>
    </form>
    <div class="info">
      <i class="pi pi-phone"></i>
      <p style="padding-right: 50px;">+48 999 999 999</p>
      <i class="pi pi-envelope"></i>
      <p>doubledebil@gmail.com</p>
    </div>

    <div style="display: flex; justify-content: center;">
      <div class="rounded"></div>
    </div>

    <div class="faq">
      <label name="category">{{ 'global.faq.oftenQuestions' | translate }}</label>
      <p-accordion>
        <p-accordionTab header="Header I">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </p-accordionTab>
        <p-accordionTab header="Header II">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
        </p-accordionTab>
        <p-accordionTab header="Header III">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
        </p-accordionTab>
    </p-accordion>
    </div>

    <div class="description">
      <p>Administratorem Twoich danych jest ... . Twoje dane osobowe będa przetwarzane w celu odpowiedzi na Twoją wiadomość i komunikacji z Tobą.</p>
    </div>
  </div>
</div>
