<div class="dialog-window">

  <div *ngIf="type === 'changePassword' && loading === false; else changeEmail" class="dialog-window-form">
    <form #formChangePassword="ngForm" (ngSubmit)="onPasswordChange()" [formGroup]="passwordForm">
      <p-password formControlName="oldPassword" id="oldPassword" name="oldPassword" placeholder="{{'global.form.oldPassword'| translate}}" [(ngModel)]="currentPassword"></p-password>
      <div class="input-invalid-text" *ngIf="passwordForm.get('oldPassword')!.invalid && (passwordForm.get('oldPassword')!.dirty || passwordForm.get('oldPassword')!.touched)">
        <small *ngIf="passwordForm.get('oldPassword')?.errors?.['required']">
          {{'global.form.fieldRequired' | translate }}
        </small>
      </div>

      <p-password formControlName="newPassword" [toggleMask]="true" placeholder="{{'global.form.newPassword' | translate}}" [(ngModel)]="newPassword"></p-password>
      <div class="input-invalid-text" *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
        <small *ngIf="passwordForm.get('newPassword')?.errors?.['required']">
          {{'global.form.fieldRequired' | translate }}
        </small>
      </div>

      <p-password formControlName="confirmPassword" [toggleMask]="true" placeholder="{{'global.form.confirmPassword' | translate}}"></p-password>
      <div class="input-invalid-text" *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
        <small *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">
          {{'global.form.fieldRequired' | translate }}
        </small>
      </div>

      <div class="buttons-container-dialog">
        <p-button type="submit" label="{{'global.action.save' | translate}}" [disabled]="passwordForm.invalid === true"></p-button>
        <p-button type="button" label="{{'global.action.close' | translate}}" (onClick)="onClose()"></p-button>
      </div>
    </form>
  </div>

  <ng-template #changeEmail>
    <div *ngIf="type === 'changeEmail' && loading === false; else changePhoneNumber">
      <form #formChangeEmail="ngForm" (ngSubmit)="onEmailChange()" [formGroup]="emailForm" class="dialog-window-form">

        <input type="text" pInputText formControlName="oldEmail" placeholder="{{'global.form.oldEmail' | translate}}"/>
        <div class="input-invalid-text" *ngIf="emailForm.get('oldEmail')!.invalid && (emailForm.get('oldEmail')!.dirty || emailForm.get('oldEmail')!.touched)">
          <small *ngIf="emailForm.get('oldEmail')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <input type="text" pInputText formControlName="newEmail" placeholder="{{'global.form.newEmail' | translate}}"/>
        <div class="input-invalid-text" *ngIf="emailForm.get('newEmail')!.invalid && (emailForm.get('newEmail')!.dirty || emailForm.get('newEmail')!.touched)">
          <small *ngIf="emailForm.get('newEmail')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <p-password formControlName="password" placeholder="{{'global.user.password' | translate}}"></p-password>
        <div class="input-invalid-text" *ngIf="emailForm.get('password')!.invalid && (emailForm.get('password')!.dirty || emailForm.get('password')!.touched)">
          <small *ngIf="emailForm.get('password')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <div class="buttons-container-dialog">
          <p-button type="submit" label="{{'global.action.save' | translate}}" [disabled]="emailForm.invalid === true"></p-button>
          <p-button type="button" label="{{'global.action.close' | translate}}" (onClick)="onClose()"></p-button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #changePhoneNumber>
    <div *ngIf="type === 'changePhoneNumber' && loading === false; else login">
      <form #formChangePhonenumber="ngForm" (ngSubmit)="onPhonenumberChange()" [formGroup]="phoneNumberForm" class="dialog-window-form">

        <input type="text" pInputText formControlName="oldPhoneNumber" placeholder="{{'global.form.oldPhonenumber' | translate}}"/>
        <div class="input-invalid-text" *ngIf="phoneNumberForm.get('oldPhoneNumber')!.invalid && (phoneNumberForm.get('oldPhoneNumber')!.dirty || phoneNumberForm.get('oldPhoneNumber')!.touched)">
          <small *ngIf="phoneNumberForm.get('oldPhoneNumber')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <input type="text" pInputText formControlName="newPhoneNumber" placeholder="{{'global.form.newPhonenumber' | translate}}"/>
        <div class="input-invalid-text" *ngIf="phoneNumberForm.get('newPhoneNumber')!.invalid && (phoneNumberForm.get('newPhoneNumber')!.dirty || phoneNumberForm.get('newPhoneNumber')!.touched)">
          <small *ngIf="phoneNumberForm.get('newPhoneNumber')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <p-password formControlName="password" placeholder="{{'global.user.password' | translate}}"></p-password>
        <div class="input-invalid-text" *ngIf="phoneNumberForm.get('password')!.invalid && (phoneNumberForm.get('password')!.dirty || phoneNumberForm.get('password')!.touched)">
          <small *ngIf="phoneNumberForm.get('password')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <div class="buttons-container-dialog">
          <p-button type="submit" label="{{'global.action.save' | translate}}" [disabled]="phoneNumberForm.invalid === true"></p-button>
          <p-button type="button" label="{{'global.action.close' | translate}}" (onClick)="onClose()"></p-button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #login>
    <div *ngIf="type === 'login' && loading === false; else newAccount" class="dialog-window-form">
      <form #formLogin="ngForm" (ngSubmit)="onLogIn()" [formGroup]="loginForm">

        <input type="text" pInputText formControlName="email" placeholder="{{'global.user.email' | translate}}" [(ngModel)]="user.email"/>
        <div class="input-invalid-text" *ngIf="loginForm.get('email')!.invalid && (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)">
          <small *ngIf="loginForm.get('email')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <p-password formControlName="password" placeholder="{{'global.user.password' | translate}}" [(ngModel)]="user.password"></p-password>
        <div class="input-invalid-text" *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <div class="make-account">
          <p style="cursor: pointer; margin:5px;" (click)="addNewAccountWindow()">{{'global.form.createAccount' | translate}}</p>
        </div>
        <div class="forgot-password">
          <p style="cursor: pointer; margin:5px;" (click)="forgotPasswordWindow()">{{'global.form.forgotPassword' | translate}}</p>
        </div>
        <div class="buttons-container-dialog">
          <p-button type="submit" label="{{'global.action.login' | translate}}" [disabled]="loginForm.invalid === true"></p-button>
          <p-button type="button" label="{{'global.action.close' | translate}}" (onClick)="onClose()"></p-button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #newAccount>
    <div *ngIf="type === 'newAccount' && loading === false; else forgotPassword" class="dialog-window-form">
      <form #formNewAccount="ngForm" (ngSubmit)="onSignUp()" [formGroup]="newAccountForm" class="dialog-window-form">

        <input type="text" pInputText formControlName="name" placeholder="{{'global.user.name' | translate}}" [(ngModel)]="user.firstName"/>
        <div class="input-invalid-text" *ngIf="newAccountForm.get('name')!.invalid && (newAccountForm.get('name')!.dirty || newAccountForm.get('name')!.touched)">
          <small *ngIf="newAccountForm.get('name')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <input type="text" pInputText formControlName="surname" placeholder="{{'global.user.surname' | translate}}" [(ngModel)]="user.lastName"/>
        <div class="input-invalid-text" *ngIf="newAccountForm.get('surname')!.invalid && (newAccountForm.get('surname')!.dirty || newAccountForm.get('surname')!.touched)">
          <small *ngIf="newAccountForm.get('surname')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <p-calendar formControlName="birthDay" dateFormat="yy-mm-dd" [maxDate]="maxDateValue" [(ngModel)]="user.birthDay" placeholder="{{'global.user.date' | translate}}"></p-calendar>
        <div class="input-invalid-text" *ngIf="newAccountForm.get('birthDay')!.invalid && (newAccountForm.get('birthDay')!.dirty || newAccountForm.get('birthDay')!.touched)">
          <small *ngIf="newAccountForm.get('birthDay')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <input type="text" pInputText formControlName="email" placeholder="{{'global.user.email' | translate}}" [(ngModel)]="user.email"/>
        <div class="input-invalid-text" *ngIf="newAccountForm.get('email')!.invalid && (newAccountForm.get('email')!.dirty || newAccountForm.get('email')!.touched)">
          <small *ngIf="newAccountForm.get('email')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <input type="text" pInputText formControlName="phoneNumber" placeholder="{{'global.user.phonenumber' | translate}}" [(ngModel)]="user.phone" pKeyFilter="int"/>
        <div class="input-invalid-text" *ngIf="newAccountForm.get('phoneNumber')!.invalid && (newAccountForm.get('phoneNumber')!.dirty || newAccountForm.get('phoneNumber')!.touched)">
          <small *ngIf="newAccountForm.get('phoneNumber')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <p-password formControlName="password" placeholder="{{'global.user.password' | translate}}" [(ngModel)]="user.password"></p-password>
        <div class="input-invalid-text" *ngIf="newAccountForm.get('password')!.invalid && (newAccountForm.get('password')!.dirty || newAccountForm.get('password')!.touched)">
          <small *ngIf="newAccountForm.get('password')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <p-password formControlName="confirmPassword" placeholder="{{'global.form.confirmPassword' | translate}}" [(ngModel)]="confirmPassword"></p-password>
        <div class="input-invalid-text" *ngIf="newAccountForm.get('confirmPassword')!.invalid && (newAccountForm.get('confirmPassword')!.dirty || newAccountForm.get('confirmPassword')!.touched)">
          <small *ngIf="newAccountForm.get('confirmPassword')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <p-dropdown id="role" name="role" [options]="roles" [(ngModel)]="user.role"
          formControlName="role" placeholder="{{'global.user.role' | translate }}" appendTo="body">
        </p-dropdown>
        <div class="input-invalid-text" *ngIf="newAccountForm.get('role')!.invalid && (newAccountForm.get('role')!.dirty || newAccountForm.get('role')!.touched)">
          <small *ngIf="newAccountForm.get('role')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>

        <div class="buttons-container-dialog">
          <p-button type="submit" label="{{'global.action.save' | translate}}" [disabled]="newAccountForm.invalid === true"></p-button>
          <p-button type="button" label="{{'global.action.close' | translate}}" (onClick)="onClose()"></p-button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #forgotPassword>
    <div *ngIf="type === 'forgotPassword' && loading === false; else spinner" class="dialog-window-form">
      <form #formForgotPassword="ngForm" (ngSubmit)="onPasswordForgot()" [formGroup]="forgotPasswordForm" class="dialog-window-form">

        <input type="text" pInputText formControlName="email" placeholder="{{'global.user.email' | translate}}" [(ngModel)]="email"/>
        <div class="input-invalid-text" *ngIf="forgotPasswordForm.get('email')!.invalid && (forgotPasswordForm.get('email')!.dirty || forgotPasswordForm.get('email')!.touched)">
          <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
            {{'global.form.fieldRequired' | translate }}
          </small>
        </div>


        <div class="buttons-container-dialog">
          <p-button type="submit" label="{{'global.action.save' | translate}}" [disabled]="forgotPasswordForm.invalid === true"></p-button>
          <p-button type="button" label="{{'global.action.close' | translate}}" (onClick)="onClose()"></p-button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #spinner>
    <div *ngIf="loading === true">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-template>

</div>
