<div class="company-page">
  <div class="wrapper">
    <p-tabMenu [model]="items"></p-tabMenu>
    <div class="company" #homeView id="home">
      <div class="company-content">
        <img [src]="currentCompany!.logo">
        <div class="data-company">
          <h2>{{currentCompany?.name}}</h2>
          <div class="rounded"></div>
          <div class="rating">
            <p-rating [readonly]="true" [(ngModel)]="currentCompany!.opinions!.average">
            </p-rating>
            <p>({{currentCompany!.opinions!.count}})</p>
          </div>
          <div class="rounded"></div>
          <p>{{currentCompany?.address?.street}} {{currentCompany?.address?.zipCode}} {{currentCompany?.address?.city}}</p>
          <div>
            <div class="rounded" style="width: 100%;"></div>
            <h2>Godziny otwarcia</h2>
            <ng-container *ngFor="let item of currentCompany!.workingDays">
              <p>{{item.dayName }} {{item.startAt}} - {{item.endAt}}</p>
            </ng-container>
          </div>
       </div>
      </div>

      <div class="company-description">
        <div class="header">
          <h2>{{'global.company.header.description' | translate}}</h2>
          <div class="rounded"></div>
        </div>
        <p>{{currentCompany!.description}}</p>
      </div>

      <div class="company-services" #servicesView id="services">
        <div class="header">
          <h2>{{'global.company.header.companyServices' | translate}}</h2>
          <div class="rounded"></div>
        </div>
        <ng-container *ngFor="let item of currentCompany!.services| slice:servicePage!*5:servicePage!*5 + 5;">
          <div class="company-service-info">
            <p>{{item.name}}</p>
            <P>{{item.duration}}min</P>
            <p>{{item.price}}zł</p>
            <div style="padding-top: 10px;">
              <p-button label="{{'global.action.book' | translate}}" (onClick)="checkIsLogged()"></p-button>
            </div>
          </div>
        </ng-container>
        <p-paginator [rows]="5" [totalRecords]="currentCompany!.services!.length" (onPageChange)="changePageService($event)"></p-paginator>
      </div>

      <div class="company-gallery" #galleryView id="gallery">
        <div class="header">
          <h2>{{'global.company.header.gallery' | translate}}</h2>
          <div class="rounded"></div>
        </div>
        <app-galleria></app-galleria>
      </div>

      <div class="company-lokalization" #lokalizationView id="lokalization">
        <div class="header">
          <h2>{{'global.company.header.localization' | translate}}</h2>
        <div class="rounded"></div>
        </div>
        <app-gmap></app-gmap>
      </div>

      <div class="company-opinions" #opinionsView id="opinions">
        <div class="header">
          <h2>{{'global.company.header.opinions' | translate}}</h2>
          <div class="rounded"></div>
        </div>
        <app-opinion-card [companyOpinions]="companyOpinions" [page]="opinionPage"></app-opinion-card>
        <p-paginator [rows]="9" [totalRecords]="companyOpinions.length" (onPageChange)="changePage($event)"></p-paginator>
      </div>

    </div>
  </div>
</div>
