<div class="home">
  <div class="wrapper">
    <div *ngIf="isCompanyExist; else createCompany">
      <div *ngIf="!loading">
        <p-button label="{{'global.action.edit' | translate }}" (onClick)="openEditCompanyDialog()"></p-button>
        <app-company-page [actualCompanyId]="companyId!"></app-company-page>
      </div>

    </div>
    <ng-template #createCompany>
      <h2>Witaj!</h2>
      <p>Zalogowałeś się jako usługodawca, co pozwala ci na dołączenie jako pracownik do jakiejkolwiek firmy. Wszystko co musisz zrobić to wejść w swój profil w prawym górnym rogu i podać swojemu pracodawcy swój indentyfikator.</p>
      <p>Nasza aplikacja pozwala również na utworzenie własnej firmy.</p>
      <p>Jedyne co musisz zrobić to kliknąć w przycisk poniżej i uzupelnić pola formularzu.</p>
      <p>Pamiętaj jednak, że jeśli staniesz się pracownikiem jakiejkolwiek firmy to opcja założenia własnej firmy z tego konto przestanie istnieć.</p>
      <p-button label="{{'global.action.createCompany' | translate }}" (onClick)="openCreateCompanyDialog()"></p-button>
    </ng-template>
  </div>
</div>



