<div class="home">
  <div class="wrapper">
    <div *ngIf="isCompanyExist; else createCompany">
      <div *ngIf="!loading">
        <p-button label="{{'global.action.edit' | translate }}" (onClick)="openEditCompanyDialog()"></p-button>
        <app-company-page (company)="setCompany($event)" [actualCompanyId]="companyId!" [isEmployee]="true"></app-company-page>
      </div>

    </div>
    <ng-template #createCompany>
      <h2>Witaj!</h2>
      <h2>Zalogowałeś się jako usługodawca, co pozwala ci na dwie opcje:</h2>
      <div class="create-company-container">
        <p>Pierwsza z opcji to możlwość założenia własnej firmy, oraz rozwijania jej na naszej aplikacji.</p>
        <p>Jedyne co musisz zrobić to kliknąć w przycisk poniżej i uzupelnić pola formularzu.</p>
        <p-button label="{{'global.action.createCompany' | translate }}" (onClick)="openCreateCompanyDialog()"></p-button>
      </div>
      <div class="create-employee-id-container">
        <p>Druga z opcji to dołączenie jako pracownik do jakiejkolwiek firmy.</p>
        <p>Poniżej znajduje się przycisk, który wygeneruje odpowiedni identyfikator pracowniczy, za pomocą którego pracodawca doda cię do swojej firmy</p>
        <p>Pamiętaj jednak, że jeśli staniesz się pracownikiem jakiejkolwiek firmy to opcja założenia własnej firmy z tego konto przestanie istnieć.</p>
        <p-button label="{{'global.action.createWorkerId' | translate }}" (onClick)="openCreateWorkerId()"></p-button>
      </div>
    </ng-template>
  </div>
</div>



