
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-content {
  border: 1px solid rgb(198, 189, 189);
  border-radius: 15px;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  img {
    border-radius: 50%;
  }
}

.user-data {
  margin: 20px;
  label {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#959292;
  }
}

.settings {
  display: grid;
  grid-template-columns: auto auto auto;
}

.account-data {
  padding-left: 25px;
  padding-top: 10px;
}

.buttons-container {
  text-align: center;
}

:host ng-deep .p-ripple .p-element .p-button .p-component {
  margin: 20px;
}

:host ::ng-deep .p-button {
  font-weight: bold;
  border-radius: 5px;
  border-color: #959292;
  margin: 20px;
}

:host ::ng-deep .p-float-label {
  margin-bottom: 10px;
}
