<div class="wrapper">
  <p-tabMenu [model]="items"></p-tabMenu>
    <div class="profile" *ngIf="isMenuProfile; else menuHistory">
      <div class="profile-content">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0m5Cy4lXCbuyG54L0vuo3i5-ALavHe9KmhWA_wDM&s">
      <h2>{{user!.firstName!}} {{user!.lastName!}}</h2>
      <p>
        {{user!.birthDay!}}
      </p>
      <p>
        <i class="pi pi-envelope"></i>
        {{user!.email!}}
      </p>
      <p>
        <i class="pi pi-phone"></i>
        {{user!.phone!}}
      </p>
      <p>
        {{user!.role!}}
      </p>
      </div>
      <div class="buttons-container">
        <p-button id="changePassword" name="changePassword"
          (onClick)="changePassword('changePassword')"
          label="{{'global.action.changePassword' | translate}}">
        </p-button>
        <p-button id="changeEmail" name="changeEmail"
          (onClick)="changePassword('changeEmail')"
          label="{{'global.action.changeEmail' | translate}}">
        </p-button>
        <p-button id="changePhoneNumber" name="changeNumber"
          (onClick)="changePassword('changePhoneNumber')"
          label="{{'global.action.changePhoneNumber' | translate}}">
        </p-button>
      </div>
    </div>
  <ng-template #menuHistory>
    <div class="history" *ngIf="isMenuHistory; else menuSettings">
      <h2>menuHistory</h2>
    </div>
  </ng-template>
  <ng-template #menuSettings>
    <div class="settings" *ngIf="isMenuSettings">
      <h2>menuSettings</h2>
    </div>
  </ng-template>
</div>

