<div *ngIf="isManagerLogged !== 'employee' && isManagerLogged !== 'owner'; else homeManager" class="home">
  <div class="wrapper">
    <div class="gallery">
      <app-galleria [showText]="true"></app-galleria>
    </div>
    <div style="display: flex; justify-content: center;">
      <div class="rounded"></div>
    </div>
    <label name="category">{{ 'global.home.categoryServices' | translate }}</label>
    <div class="category">
      <app-card [industriesTemplate]="true"></app-card>
    </div>

    <div style="display: flex; justify-content: center;">
      <div class="rounded"></div>
    </div>

    <div class="recommended">
      <label name="recommended">{{ 'global.home.recommendedCompany' | translate }}</label>
      <app-card></app-card>
    </div>

    <div style="display: flex; justify-content: center;">
      <div class="rounded"></div>
    </div>

    <div style="display: grid; grid-template-columns: 400px 400px; justify-items: center; justify-content: center;">
      <div class="left-side" style="margin: 20px;">
        <div class="advertising-card">
          <i class="pi pi-wallet"></i>
          <div class="advertising-card-text">
            <p style="font-weight: bold;">Wszystko dostępne za darmo!</p>
            <p>Rezerwuj usługi, zostań pracownikiem a nawet właścicielem.</p>
          </div>
        </div>
        <div class="advertising-card">
          <i class="pi pi-star-fill"></i>
          <div class="advertising-card-text">
            <p style="font-weight: bold;">Przyjazna dla użytkowników!</p>
            <p>Przeglądaj i wybieraj pod własne wymagania.</p>
          </div>
        </div>
      </div>
      <div class="right-side" style="margin: 20px;">
        <div class="advertising-card">
          <i class="pi pi-thumbs-up-fill"></i>
          <div class="advertising-card-text">
            <p style="font-weight: bold;">Wysokie oceny!</p>
            <p>Użytkownicy polecają naszą aplikacje</p>
          </div>
        </div>
        <div class="advertising-card">
          <i class="pi pi-phone"></i>
          <div class="advertising-card-text">
            <p style="font-weight: bold;">Szybko i łatwo!</p>
            <p>Rezerwuj bez wychodzenia z domu!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-with-photo">
      <div class="text-area">
        <h2>Chcesz szybko zarezerwować termin?</h2>
        <h2>Rezerwacja bez zakładania konta?</h2>
        <h2>Gdzie najbliżej do danej usługi?</h2>
        <p>Wszystko to dostępne w naszej aplikacji, przyjemnej do oka, łatwej w obłudze i oczywiście bezpłatnej.</p>
      </div>
      <img src="https://hrnews.pl/storage/2017/12/owen-spencer-500933-unsplash-683x1024.jpg">
    </div>
  </div>
</div>

<ng-template #homeManager >
  <app-manager-home></app-manager-home>
</ng-template>

