.home {
  label {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
  }
}

.category {
  text-align: center;
  display: flex;
  text-decoration: row;
  flex-wrap: wrap;
  justify-content: center;
  img {
    height: 120px;
    width: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .text-with-photo {
    display: grid;
    grid-template-columns: 200px auto;
    justify-content: space-evenly;
    padding-bottom: 80px;
    img {
      height: 400px;
    }
  }

  :host ::ng-deep .pi-card {
    height: 100px;
    width: 100%;
  }

  :host ::ng-deep .p-galleria-item {
    min-width: 400px;
  }

  :host ::ng-deep .p-galleria-content {
    min-width: 400px;
    max-height: 360px;
  }
}

@media only screen and (min-width: 700px) {
  .text-with-photo {
    display: grid;
    grid-template-columns: 300px auto;
    justify-content: space-evenly;
    padding-bottom: 80px;
    img {
      height: 500px;
    }
  }

  :host ::ng-deep .pi-card {
    height: 150px;
    width: 100%;
  }

  :host ::ng-deep .p-galleria-item {
    min-width: 700px;
  }

  :host ::ng-deep .p-galleria-content {
    min-width: 700px;
    max-height: 360px;
  }

}
@media only screen and (min-width: 1280px) {
  .text-with-photo {
    display: grid;
    grid-template-columns: 400px auto;
    justify-content: space-evenly;
    padding-bottom: 80px;
    img {
      height: 600px;
    }
  }

  :host ::ng-deep .pi-card {
    height: 200px;
    width: 100%;
  }

  :host ::ng-deep .p-galleria-item {
    min-width: 1280px;
  }

  :host ::ng-deep .p-galleria-content {
    min-width: 1280px;
    max-height: 660px;
  }
}


