:host ::ng-deep .p-menubar {
    background-color: #73121c;
    border-radius: 0;
    height: 70px;
}

:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: white;
    font-weight: bold;
}

:host ::ng-deep .p-menuitem-icon {
  position: absolute;
}

@media only screen and (max-width: 700px) {
  .search {
    padding-top: 2px;
    padding-right: 40px;
  }

  :host ::ng-deep .p-dropdown {
    margin-right: 10px;
    margin-top: 2px;
    width: 80px;
    height: 80%;
    border-radius: 15px;
  }

  :host ::ng-deep .p-dropdown .p-dropdown-label {
    padding-left: 10px;
  }

  :host ::ng-deep .p-autocomplete {
    input {
      margin-left: 10px;
      border-radius: 15px;
      width: 150px;
    }
  }

  :host ::ng-deep .notLoginAccount .p-button {
    margin-top: 2px;
    margin-right: 5px;
    padding: 10px;
    background-color: white;
    color: var(--primary-color);
    border-radius: 25px;
    width: 60px;
  }
}

@media only screen and (min-width: 700px){
  .search {
    padding-top: 2px;
    padding-right: 40px;
  }

  :host ::ng-deep .p-dropdown {
    margin-right: 30px;
    margin-top: 2px;
    width: 90px;
    height: 80%;
    border-radius: 15px;
  }

  :host ::ng-deep .p-dropdown .p-dropdown-label {
    padding-left: 10px;
  }

  :host ::ng-deep .p-autocomplete {
    input {
      border-radius: 15px;
      width: 250px;
    }
  }

  :host ::ng-deep .notLoginAccount .p-button {
    margin-top: 2px;
    margin-right: 5px;
    background-color: white;
    color: var(--primary-color);
    border-radius: 15px;
  }
}

@media only screen and (min-width: 1280px){
  .search {
    padding-top: 2px;
    padding-right: 40px;
  }

  :host ::ng-deep .p-dropdown {
    margin-right: 30px;
    margin-top: 2px;
    width: 100px;
    height: 80%;
    border-radius: 15px;
  }

  :host ::ng-deep .p-dropdown .p-dropdown-label {
    padding-left: 10px;
  }

  :host ::ng-deep .p-autocomplete {
    input {
      border-radius: 15px;
      width: 300px;
    }
  }

  :host ::ng-deep .notLoginAccount .p-button {
    margin-top: 2px;
    margin-right: 5px;
    background-color: white;
    color: var(--primary-color);
    border-radius: 15px;
  }
}

.pi-bell {
  color: white;
  padding-bottom: 15px;
}

.pi-flag {
  color: white;
  font-size: 20px;
}

.account {
  display: flex;
}

.notification {
  display: inline;
  padding-right: 20px;
}

.user-menu {
  ul {
    list-style-type: none;
    margin-left: -20px;
  }

  li {
    margin: 0;
    padding: 20px 30px;
    color: var(--primary-color);
    font-weight: 700;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.items-to-users {
  display: flex;
}

:host ::ng-deep .account .p-button {
  background-color: lightgray;
  color: var(--primary-color);
  border-radius: 50%;
  height: 50px;
  width: 55px;
}
