.footer {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 200px;
    height: 200px;
  }
}

:host ::ng-deep .pi {
  padding: 0 10px;
  color: white;
  font-size: 30px;
}
