<div class="schedule-callendar">
  <div class="callendar-header">
    <p-button (onClick)="minusDay()">
      <i class="pi pi-arrow-circle-left"></i>
    </p-button>
    <div class="date">
      {{currentDate | date:'MMMM d y'}}
    </div>
    <p-button (onClick)="plusDay()">
      <i class="pi pi-arrow-circle-right"></i>
    </p-button>
  </div>
  <div class="callendar-hours">
    <ng-container *ngFor="let item of workHours">
      <div class="list-item">
        {{item.hour}}
        <div class="reservation">
          <ng-container *ngFor="let reservation of item.reservations">
            <div class="worker">
              <span>
                <label id="worker">Pracownik: </label>
              {{reservation.worker}}
              </span>
              <span>
                <label id="client">Klient: </label>
                {{reservation.client}}
              </span>
              <span>
                <label id="service">Usługa: </label>
                {{reservation.service}}
              </span>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
